body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.ausente{
  background-color: red;
}

.presente{
  background-color: green;
}

button.A, button.P {
  width: 30px;        
  height: 30px;      
  font-weight: bold;
}